<form>
  <p>First Name</p>
  <input type='text' id='first_name'/>
  <br />
  <p>Last Name</p>
  <input type='text' id='last_name'/>
  <br />
  <p>Phone Number</p>
  <input type='text' id='phone_number'/>
  <br/>
  <button id="button" class="users btn">Create New User</button>
  <%= link_to 'Back', root_path, class: "users btn" %>
</form>