<h1 class="center">Welcome to our App!</h1>

<div class="center">
  <button class="users btn">View Users</button>
  <%= link_to 'create users', users_new_path, class: "btn" %>
</div>

<hr />
<div class="row">
  <div class="col s12 m6">
    <ul class="game-item">
    </ul>
  </div>
</div>
